<p>Example plain HTML site using GitLab Pages.</p>
<p>Learn more about GitLab Pages at https://pages.gitlab.io and the
official documentation
https://docs.gitlab.com/ce/user/project/pages/.</p>
<hr />
<!-- START doctoc generated TOC please keep comment here to allow auto update -->
<!-- DON'T EDIT THIS SECTION, INSTEAD RE-RUN doctoc TO UPDATE -->
<p><strong>Table of Contents</strong> <em>generated with <a
href="https://github.com/thlorenz/doctoc">DocToc</a></em></p>
<ul>
<li><a href="#gitlab-ci">GitLab CI</a></li>
<li><a href="#gitlab-user-or-group-pages">GitLab User or Group
Pages</a></li>
<li><a href="#did-you-fork-this-project">Did you fork this
project?</a></li>
<li><a href="#troubleshooting">Troubleshooting</a></li>
</ul>
<!-- END doctoc generated TOC please keep comment here to allow auto update -->
<h2 id="gitlab-ci">GitLab CI</h2>
<p>This project’s static Pages are built by <a
href="https://about.gitlab.com/gitlab-ci/">GitLab CI</a>, following the
steps defined in <a
href=".gitlab-ci.yml"><code>.gitlab-ci.yml</code></a>:</p>
<pre><code>image: busybox

pages:
  stage: deploy
  script:
  - echo &#39;Nothing to do...&#39;
  artifacts:
    paths:
    - public
    expire_in: 1 day
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH</code></pre>
<p>The above example expects to put all your HTML files in the
<code>public/</code> directory.</p>
<h2 id="gitlab-user-or-group-pages">GitLab User or Group Pages</h2>
<p>To use this project as your user/group website, you will need one
additional step: just rename your project to
<code>namespace.gitlab.io</code>, where <code>namespace</code> is your
<code>username</code> or <code>groupname</code>. This can be done by
navigating to your project’s <strong>Settings</strong>.</p>
<p>Read more about <a
href="https://docs.gitlab.com/ce/user/project/pages/introduction.html#user-or-group-pages">user/group
Pages</a> and <a
href="https://docs.gitlab.com/ce/user/project/pages/introduction.html#project-pages">project
Pages</a>.</p>
<h2 id="did-you-fork-this-project">Did you fork this project?</h2>
<p>If you forked this project for your own use, please go to your
project’s <strong>Settings</strong> and remove the forking relationship,
which won’t be necessary unless you want to contribute back to the
upstream project.</p>
<h2 id="troubleshooting">Troubleshooting</h2>
<ol type="1">
<li>CSS is missing! That means that you have wrongly set up the CSS URL
in your HTML files. Have a look at the <a
href="https://gitlab.com/pages/plain-html/blob/master/public/index.html">index.html</a>
for an example.</li>
</ol>
